{{ define "content" }}
<div class="container">
  <a class="text-lg mb-8 inline-block" href="{{ .Site.BaseURL | relLangURL }}">&larr; {{ i18n "back_home" }}</a>

  <!-- Title and Publication Date -->
  <h1 class="title">{{ .Title }}</h1>
  <h2 class="subtitle">{{ .Date.Format "02 Jan 2006" }}</h2>

  <!-- Tags -->
  {{ with .Params.tags }}
  <div class="tags">
    {{ range . }}
    <a class="tag" href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  </div>
  {{ end }}
</div>
<div class="markdown-body">
  {{ .Content }}
</div>
{{ end }}
